<div class="card text-center">
  <div class="card-header">
    Immo 2000 l'immobilier de l'an 2000
  </div>
  <div class="card-body">
    <p class="card-text">Votre dévoué Abderazac Merkaoui</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
